@import "bootstrap.less";

.text-shadow () {
  text-shadow: 1px 1px 1px @grayLight;
}

.hide {
  display: none;
}

body {
  background: url(../img/bg.png) repeat-x;
  padding: 30px;
}

header, footer, #application {
  min-width: 960px;
}

header, footer {
  text-align: center;
}

header {
  padding: 10px 0 30px;
  h1 {
    font-size: 44px;
    .text-shadow();
  }
}

.main-pane {
  text-align: center;
  padding: 20px;
  h2 {
    padding-bottom: 20px;
  }
  .tab-pane {
    .hero-unit {
      font-size: 110px;
      letter-spacing: 0.05em;
    }
    .two-col .hero-unit {
      font-size: 85px;
      letter-spacing: 0.03em;
    }
    .operations {
      .btn {
        margin-right: @fluidGridGutterWidth;
        width: 2 * @fluidGridColumnWidth + @fluidGridGutterWidth;
      }
      .btn.toggle, .btn.switch {
        width: @fluidGridColumnWidth + @fluidGridGutterWidth;
      }
    }
  }
}
